{% load static %}
<html>
	<head>
		<title>Surface Studios</title>
		<link href='http://fonts.googleapis.com/css?family=Didact+Gothic' rel='stylesheet' type='text/css' />
		<link type="text/css" rel="stylesheet" href="{% static 'css/home.css' %}" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<style>
		.navbarWrpr{
			  text-align: center;
		}
		*{
			font-family: 'Didact Gothic', sans-serif;
			color: #909090;

		}
		
		</style>
		{% block css_files %}{% endblock %}
		{% block css %}{% endblock %}
	</head>
	<body style="overflow: hidden;">
		<div class="base">
			<div class="navbarWrpr">
				<ul id="navbarContnt">
					<li><a href="{% url 'home' %}">Home</a></li>
					<li><a href="{% url 'about' %}">About us</a></li>
					<li><a href="{% url 'architecture' %}">Architecture</a></li>
					<li><a href="{% url 'masterplanning' %}">Master planning</a></li>
					<li><a href="{% url 'interiordesign' %}">interior design</a></li>
					<li><a href="{% url 'landscape' %}">Landscape</a></li>
					<li><a href="{% url 'competition' %}">competition</a></li>
					<li><a href="{% url 'contactus' %}">Contact us</a></li>
				</ul>
			</div>
			{% block content %} {% endblock %}
		</div>
	{% block js_block %}{% endblock %}
	{% block js_files %}{% endblock %}
	</body>
</html>